.agenda-wrapper {
    
    .agenda-item {
        padding: 0px 10%;
        min-height: 480px;
        
        h1, h2 {
            
        }
    }

    .agenda-day {
        background-color: black;

        h1 {
            background-color: transparent;
            color: white;
            margin: 10px;
        }
    }

    .agenda-arrival {
        
    }

    .agenda-hike {
        
    }
    
    .agenda-garden {
        
    }

    .agenda-winefest {
        
    }

    .agenda-hangover {
        
    }
}