.app {
  text-align: center;
}

body {

  .birthday-page {
    font-family: '8-Bit-Madness';

    h1 {
      font-size: 62px;
      background-color: rgba(255, 255, 255, 1);
      display: inline-block;
      padding: 5px 15px;
      margin-bottom: 0;
    }
    
    h2 {
      font-size: 28px;
      text-shadow:  1px  1px 0px white,
                      1px -1px 0px white,
                     -1px  1px 0px white,
                     -1px -1px 0px white;
      line-height: 110%;
    }
    
    h1, h2, h3 {
      transition: transform .2s ease-in-out;
      cursor: default;
    
      &:hover {
        transform: rotate(-2deg);
      }
    }
  }

  .weinfest-page {
    font-family: 'serif';

    h1 {
      font-size: 50px;
      background-color: rgba(255, 255, 255, 1);
      display: inline-block;
      padding: 5px 15px;
      margin-bottom: 0;
    }

  }
}


@font-face  {
  font-family: '8-Bit-Madness';
  src: url('../src/assets/8-Bit-Madness.ttf') format('truetype');
}

@font-face  {
  font-family: 'Fontin';
  src: url('../src/assets/Fontin-Bold.ttf') format('truetype');
}

#audio {
  display: none;
}

@media (max-width: 500px) {
  
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 30px;
  }
}
